services:
  redis-master:
    image: redis:8.2.0
    container_name: redis-master
    ports:
      - "6379:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/master/:/usr/local/etc/redis/  # 디렉터리 마운트
    networks:
      - redis-network

  redis-slave1:
    image: redis:8.2.0
    container_name: redis-slave1
    ports:
      - "7001:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--replicaof", "redis-master", "6379", "--masterauth", "1234"]
    volumes:
      - ./redis/slave/:/usr/local/etc/redis/  # 디렉터리 마운트
    depends_on:
      - redis-master
    networks:
      - redis-network

  redis-slave2:
    image: redis:8.2.0
    container_name: redis-slave2
    ports:
      - "7002:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--replicaof", "redis-master", "6379", "--masterauth", "1234"]
    volumes:
      - ./redis/slave/:/usr/local/etc/redis/  # 디렉터리 마운트
    depends_on:
      - redis-master
    networks:
      - redis-network

  redis-slave3:
    image: redis:8.2.0
    container_name: redis-slave3
    ports:
      - "7003:6379"
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--replicaof", "redis-master", "6379", "--masterauth", "1234"]
    volumes:
      - ./redis/slave/:/usr/local/etc/redis/  # 디렉터리 마운트
    depends_on:
      - redis-master
    networks:
      - redis-network

  redis-sentinel1:
    image: redis:8.2.0
    container_name: redis-sentinel1
    command: ["redis-sentinel", "/usr/local/etc/redis/sentinel1.conf"]
    ports:
      - "26379:26379"
    volumes:
      - ./redis/sentinel/sentinel1.conf:/usr/local/etc/redis/sentinel1.conf
    depends_on:
      - redis-master
      - redis-slave1
      - redis-slave2
      - redis-slave3
    networks:
      - redis-network

  redis-sentinel2:
    image: redis:8.2.0
    container_name: redis-sentinel2
    command: ["redis-sentinel", "/usr/local/etc/redis/sentinel2.conf"]
    ports:
      - "26380:26380"
    volumes:
      - ./redis/sentinel/sentinel2.conf:/usr/local/etc/redis/sentinel2.conf
    depends_on:
      - redis-master
      - redis-slave1
      - redis-slave2
      - redis-slave3
    networks:
      - redis-network

  redis-sentinel3:
    image: redis:8.2.0
    container_name: redis-sentinel3
    command: ["redis-sentinel", "/usr/local/etc/redis/sentinel3.conf"]
    ports:
      - "26381:26381"
    volumes:
      - ./redis/sentinel/sentinel3.conf:/usr/local/etc/redis/sentinel3.conf
    depends_on:
      - redis-master
      - redis-slave1
      - redis-slave2
      - redis-slave3
    networks:
      - redis-network

  spring-app:
    build: ..
    container_name: spring-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}  # 환경변수로 변경
    depends_on:
      - redis-sentinel1
      - redis-sentinel2
      - redis-sentinel3
    networks:
      - redis-network

networks:
  redis-network:
    name: redis-network
    driver: bridge
